<div class="container" style="width: 100%;">
  <div style="font-size:20px">Cases</div>
  <div class="section"> Completed Cases over the past 7 days
    <button type="button" class="collapse-button" data-toggle="collapse" data-target="#completed_cases">_</button>
    <hr>
    <div style="height: 100px; display: inline-block; border-spacing: 8px;
  " id="completed_cases">
      <div class="cases_sq">
        <div class="cases_name">Benefits Verification</div>
        <div id="test_this" ng-repeat="patients in data" class="cases_number">{{getCount(data,'BV')}}</div>
      </div>
      <div class="cases_sq">
        <div class="cases_name">Prior Authorization</div>
        <div class="cases_number">{{getCount(data,'PA')}}</div>
      </div>
      <div class="cases_sq">
        <div class="cases_name">Prescription Referral</div>
        <div class="cases_number">{{getCount(data,'PR')}}</div>
      </div>
      <div class="cases_sq">
        <div class="cases_name">PAP</div>
        <div class="cases_number">{{getCount(data,'PAP')}}</div>
      </div>
      <div class="cases_sq">
        <div class="cases_name">CoPay</div>
        <div class="cases_number">{{getCount(data,'CoPay')}}</div>
      </div>
    </div>
    <br>
  </div>
  <br>

  <div class="section">Current Cases
    <button type="button" class="collapse-button" data-toggle="collapse" data-target="#patient_section" > <!-- ng-click will toggle ng-show/hide --> 
        <span [class.hide]="toggle1">+</span>      <!-- ng-show and ng-hide will replace this -->
        <span [class.hide]="!toggle1">_</span>                  
      </button>
    <hr>
    <div id="patient_section" class="section">Filter Options
      <button type="button" class="collapse-button" data-toggle="collapse" data-target="#filter_options">_</button>
      <hr>

      <div id="filter_options" class="collapse">
        <div class="check_section">Status
          <div class="checkbox">
            <label><input type="checkbox" id="ch_completed" value="Completed" checked>Completed</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" id="ch_progress" value="InProgress" checked>In Progress</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" id="ch_action" value="ActionNeeded" checked>Action Needed</label>
          </div>
        </div>
        <div class="check_section">Service Type
          <div class="checkbox">
            <label><input type="checkbox" id="ch_bv" value="BV" checked>Benfits Verification</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" id="ch_pa" value="PA" checked>Prior Authorization</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" id="ch_copay" value="CoPay" checked>CoPay</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" id="ch_pap" value="PAP" checked>PAP</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" id="ch_pr" value="PR" checked>Prescription Referral</label>
          </div>
        </div>
        <div style="display: table-cell; float: right; padding: 10px; height: 100%">
          <button ng-click="updateList(filter_check);" class="btn" style="background: #302D4D; color: white;" >Filter</button>
        </div>
      </div>
      <br>
      <br>

      <div id="service_types" class="legend">
        <div style="font-weight: bold; float: left; padding: 3px;"> Service Types: </div>
        <div class="square" style="background: Green;"></div>
        <div class="legend-text"> Benefits Verification </div>
        <div class="square" style="background-color: Yellow;"></div>
        <div class="legend-text"> Prior Authorization </div>
        <div class="square" style="background-color: Purple;"></div>
        <div class="legend-text"> CoPay </div>
        <div class="square" style="background-color: aquamarine;"></div>
        <div class="legend-text"> PAP </div>
        <div class="square" style="background-color: Teal;"></div>
        <div class="legend-text"> Prescription Referral </div>
      </div>
      <br>

      <div id="status_keys" class="legend">
        <div style="font-weight: bold; float: left; padding: 3px;">Status Key </div>
        <div>
          <img src="/app/images/completed.png" style="padding: 3px; width:40px; height:40px;">Completed
          <img src="/app/images/progress.png" style="padding: 3px; width:35px; height:35px;">In Progress
          <img src="/app/images/action.png" style="padding: 3px; width:40px; height:35px;">Action Needed
        </div>
      </div>
      <br>

      <a href="./patientpage.html" style="width: 100%" id="patient_list" class="collapse in">
        <ul id="listPatients" class="patient-list" style="list-style-type:none" ng-model="list_element">
          <ng-container *ngFor="let patient of data">
            <li class="patient-details"  *ngIf="checkFilters(patient.service,patient.statusKey,filter_check)">
              <div style="float:left"> <!-- keep names and status left -->
              <div class="block">                  
                <div *ngIf="(patient.statusKey == 'ActionNeeded')">
                  <img src='/app/images/action.png' style="padding: 3px; width:40px; height:35px;">
                </div>
                <div *ngIf="(patient.statusKey == 'InProgress')">
                  <img src='/app/images/progress.png' style="padding: 3px; width:40px; height:35px;">
                </div>
                <div *ngIf="(patient.statusKey == 'Completed')">
                  <img src='/app/images/completed.png' style="padding: 3px; width:40px; height:35px;">
                </div>
              </div>             
              <div class="block"><a href="./patientpage.html"> {{ patient.name }}</a></div>
            </div>
            <div style="float: right">
              <div class="block"> Patient ID: {{ patient.patientID }} </div>
              <div class="block"> Date of Birth: {{ patient.dob }} </div>
              <div id="service_ids" class="block" > Service ID: {{ patient.serviceID }}</div>
              <div class="block">
                <div *ngIf="(patient.service == 'BV')">
                  <img src='/app/images/bv.png' class="service_img">
                </div>
                <div *ngIf="(patient.service == 'PA')">
                  <img src='/app/images/pa.png' class="service_img">
                </div>
                <div *ngIf="(patient.service == 'CoPay')">
                  <img src='/app/images/copay.png' class="service_img">
                </div>
                <div *ngIf="(patient.service == 'PAP')">
                  <img src='/app/images/pap.png' class="service_img">
                </div>
                <div *ngIf="(patient.service == 'PR')">
                  <img src='/app/images/pr.png' class="service_img">
                </div>
              </div>
            </div>
            </li>
          </ng-container>
        </ul>
      </a>
    </div>
  </div>
</div>